.numbers {
 font-family :'Open Sans', sans-serif;
 font-weight :600;
 font-size :3em;
}
.sumupcontainer {
  text-align :center;
  margin-top :50px;
}

.legend {
  font-family :'Josefin Sans', sans-serif !important;
  font-size :0.65em !important;
}
.sublegend {
  font-family :'Josefin Sans', sans-serif !important;
  font-size :0.45em !important;
}

@media (max-width : 600px) {
  .numbers {
   font-size :1rem;
  }
  .sumupcontainer {
    text-align :left;
    margin-left :8% !important;
    margin-bottom :50px;
  }
  .legend {
    font-family :'Josefin Sans', sans-serif !important;
    font-size :0.46rem !important;
  }
  .doughnutcontainer {
    margin-bottom :50px;
  }
}

